@import "tailwindcss";

html,
body {

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}